:root{
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #0000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
    --button-radius: 50px;

}

* {
    box-sizing: border-box;
  }

  body {
    font-family: var(--font-open-sans);
  }
  
  a {
    text-decoration: none;
  }
  .container {
    width: 1352px;
    margin: 0 auto;
  }
  /* HEADER STYLES */

  .header {
    height: 70px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }
.header_container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo{
    font-family: var(--font-raleway);
    font-size: 2rem; /* 16px*2 */
    font-weight: 300;
    color:var(--color-primary) ;
}
.header__nav{
    display: flex;
}
.nav__element{
    padding: 0 26px;
}

.nav__element:last-child {
    padding-right: 0;
  }
.nav__link{
    color: var(--color-grey);
    font-weight: 700;
    font-size: 0.6875rem;
    text-transform: uppercase;
    padding: 28px 18px 22px;
    border-bottom: 4px solid transparent;
    letter-spacing: 0.1875rem;
}
.nav__link:hover{
    color: black;
    border-color: var(--color-primary);
}

/* SECTION OPENING */

.opening{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.opening__content{
    margin-top: 130px;
    text-align: center;

}

.opening__header{
    font-family:var(--font-raleway);
    font-size: 49px;
}

.opening__heading{
    margin-top: 20px;
    margin-bottom: 38px;
}

.opening_image{
    width: 100%;
    height: auto;
}

.btn{
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 16px 65px;
    border-radius: var(--button-radius);
    border: none;
}

.btn--primary{
    background-color: var(--color-primary);
    border-radius: var(--button-radius);
    box-shadow: 3px 10px 14px var(--color-primary-shadow);
}

.btn--large{
    padding: 22px 155px;
}

/* STATISTICS SECTION*/

.statistics{
    margin-top: 100px;
}
.statistics__container{
    max-width: 800px;
    margin: 100px auto 120px;
    display:flex;
    justify-content: space-between;

}

h2{
    font-family: var(--font-raleway);
    font-size: 36px;
    text-align: center;
}

.statistics__single{
    max-width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    text-align: center;
    font-family: var(--font-raleway);
}
.statistics__circle {
    border-radius: 50%;
    width: 63px;
    height: 63px;
    position: relative;
  }
  
  .statistics__img {
    position: absolute;
  }

  .statistics__single:nth-child(1) .statistics__circle{
      background-color: var(--color-redish);
  }

  .statistics__single:nth-child(1) .statistics__img{
    top: 5px;
  }

  .statistics__single:nth-child(2) .statistics__circle{
      background-color:var(--color-primary);
  }

  .statistics__single:nth-child(2) .statistics__img{
      top: 13px;
      left: 15px;
  }

  .statistics__single:nth-child(3) .statistics__circle{
      background-color:var(--color-green);
  }

  .statistics__single:nth-child(3) .statistics__img{
      top: 7px;
  }

  .statistics__number {
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: 0.1875rem;
    margin-top: 13px;
  }
  
  .statistics__description {
    color: var(--color-grey);
    margin-top: 19px;
  }


